[Desktop Entry]
Version=1.0
Name=FIVEBALANCE Core
Comment=FIVEBALANCE P2P Cryptocurrency
Comment[fr]=FIVEBALANCE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FIVEBALANCE, eşten eşe kriptografik sanal para birimi
Exec=fivebalance-qt %u
Terminal=false
Type=Application
Icon=fivebalance128
MimeType=x-scheme-handler/fivebalance;
Categories=Office;Finance;
StartupWMClass=Fivebalance-qt
