# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=FIVEBALANCE Core Daemon SNAP
Comment=testnet
GenericName=FIVEBALANCE Digital Currency Daemon Client testnet network
Exec=fivebalance-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/fivebalance_testnet.png
MimeType=x-scheme-handler/fbn;
Categories=X-Office;X-Finance;
Keywords=internet;fivebalance;zfbn;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
